.toast-container {
    transition: 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition-property: opacity, transform;
    position: fixed;
    will-change: opacity, transform;
    width: 320px;
}

.toast-container--bottom-left {
    left: 16px;
    bottom: 0;
    padding-bottom: 16px;
}

.toast-container--bottom-right {
    right: 16px;
    bottom: 0;
    padding-bottom: 16px;
}

.toast-container--top-left {
    left: 16px;
    top: 0;
    padding-top: 16px;
}

.toast-container--top-right {
    right: 16px;
    top: 0;
    padding-top: 16px;
}

.toast-container--bottom-left.toast-container--entering,
.toast-container--bottom-right.toast-container--entering,
.toast-container--top-left.toast-container--exited,
.toast-container--top-right.toast-container--exited {
    transform: translateY(100%);
}

.toast-container--bottom-left.toast-container--exited,
.toast-container--bottom-right.toast-container--exited,
.toast-container--top-left.toast-container--entering,
.toast-container--top-right.toast-container--entering {
    transform: translateY(-100%);
}

.toast-container--exiting,
.toast-container--exited {
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.toast-container--exited {
    opacity: 0;
}

@media (max-width: 575px) {
    .toast-container {
        width: auto;
        left: 16px;
        right: 16px;
        bottom: 16px;
    }
}